<div class="br" fxLayout="column">
	<div fxLayout.lg="row" fxLayout.xs="column">
		<br-house [id]="12"></br-house>
	</div>
	<div fxLayout.lg="row" fxLayout.xs="column">
		<br-house [id]="6"></br-house>
		<br-house [id]="1"></br-house>
		<br-house [id]="8"></br-house>
	</div>
	<div fxLayout.lg="row" fxLayout.xs="column">
		<br-house [id]="9"></br-house>
		<br-house [id]="2"></br-house>
		<br-house [id]="5"></br-house>
		<br-house [id]="4"></br-house>
		<br-house [id]="13"></br-house>
	</div>
	<div fxLayout.lg="row" fxLayout.xs="column">
		<br-house [id]="7"></br-house>
		<br-house [id]="3"></br-house>
		<br-house [id]="10"></br-house>
	</div>
	<div fxLayout.lg="row" fxLayout.xs="column">
		<br-house [id]="11"></br-house>
	</div>
</div>