.birth-repository {
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%; 
	padding-top: 5%;
}

.repository-row {
	display: inline-block;
	width: 100%;
	/* border: 1px solid green; */
}

.repository-house {
	display: inline-block;
	width: 15%;
	margin: 10px;
	border: 1px solid black;
	transform: translate(-50%, 0);
}

#house-1, #house-3, #house-5, #house-11, #house-12 {
	margin-left: 50%;
}

#house-2, #house-6, #house-7 {
	position: absolute;
	float: left;
	left: 30%;
}

#house-4, #house-8, #house-10 {
	position: absolute;
	float: right;
	right: 30%;
	transform: translate(50%, 0);
}

#house-9 {
	position: absolute;
	float: left;
	left: 10%;
}

#house-13 {
	position: absolute;
	float: right;
	right: 10%;
	transform: translate(50%, 0);
}