<h1>
  {{title}}
</h1>
<div id="application" [ngSwitch]="display">
	<div id="card-presentation" *ngSwitchWhen="0">
		<span *ngFor=" let card of cardService.cards"><tarot-card [card]="card"></tarot-card></span>
	</div>
	<birth-repository [birthDate]="selectedDate" [weatherYear]="weatherYear" *ngSwitchWhen="1"></birth-repository>
</div>
<div id="controls" (mouseenter)="updateTransparency($event)" (mouseleave)="updateTransparency($event)">
	<h4>Choose display :</h4>
	<label>Présentation</label>
	<input name="display" type="radio" value="0" (change)="display = 0;">
	<label>Référentiel</label>
	<input name="display" type="radio" value="1" checked="true" (change)="display = 1;">
	<div *ngIf="display === 1">
		<h4>Date de naissance à partir de laquelle effectuer les calculs :</h4>
		<input type="date" [(ngModel)]="selectedDate">
		<h4>Année de la météo à calculer :</h4>
		<input type="number" min="1900" max="2100" [(ngModel)]="weatherYear">
	<div>
</div>
