<mat-toolbar color="primary">
    <span>Référentiel de naissance</span>
    <form>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date de naissance"
            [(ngModel)]="formData.date" name="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="last">
            <input matInput type="number" placeholder="Année de la météo" 
            [(ngModel)]="formData.weather" name="weather"
            min="0" minlength="1" maxlength="4" required>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="generate()">Go</button>
    </form>
</mat-toolbar>
<div class="br-main" fxLayout.lg="row" fxLayout.xs="column">
    <br-generator [date]="selectedDate" [weather]="weatherYear"
        (onSelect)="selectCard($event)" fxFlex="80%"></br-generator>
    <br-card-details [for]="selectedCard" fxFlex="20%"></br-card-details>
</div>