<mat-toolbar color="primary">
    <span>Référentiel de naissance</span>
    <form>
        <mat-form-field (click)="picker.open()">
            <input matInput [matDatepicker]="picker" placeholder="Date de naissance"
            [(ngModel)]="formData.date" name="date" required>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="last">
            <input matInput type="number" placeholder="Année de a météo" 
            [(ngModel)]="formData.weather" name="weather"
            min="0" minlength="1" maxlength="4" required>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="generate()">Go</button>
    </form>
</mat-toolbar>
<div class="br-main">
    <br-generator [date]="selectedDate" [weather]="weatherYear"></br-generator>
</div>