div.br-main {
	width: 100%;
	position: relative;
}

div.br-main:after {
	background-image: url('/assets/background.jpeg');
	opacity: 0.6;
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

span.brand {
	flex: 1 1 auto;
}

@media (min-width: 960px) {
	mat-toolbar {
		height: 85px;
	}

	div.br-main {
		height: calc(100% - 85px);
	}

}