<mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <span class="brand">Référentiel de naissance</span>
    <br-form (onGenerate)="generate($event)" fxHide.xs></br-form>
</mat-toolbar>
<br-form (onGenerate)="generate($event)" fxHide.gt-xs></br-form>
<div class="br-main" fxLayout.gt-xs="row">
    <br-generator [date]="selectedDate" [weather]="weatherYear"
        (onSelect)="selectCard($event)" fxFlex.gt-xs="80%"></br-generator>
    <br-card-details [for]="selectedCard" fxFlex.gt-xs="20%" fxHide.xs></br-card-details>
</div>