mat-toolbar {
	height: 85px;
}

form {
	background-color: #4B296B;
    position: absolute;
    right: 10px;
    height: 50px;
    padding: 10px;
}

form button {
	position: absolute;
	right: 10px;
}

form mat-form-field.last {
	margin-right: 40px;
}

div.br-main {
	width: 100%;
	height: calc(100% - 85px);
	background-image: url('/assets/background.jpeg');
}
